/* App.js component css*/

.App {
  text-align: center;
  background-color: rgb(16, 138, 138);
  width: 50vw;
  padding-bottom: 2rem;
  box-shadow: 2px 2px 3px;
}

input {
  width: 15rem;
  height: 1.8rem;
  border-radius: 10px;
  font-size: 1.0rem;
   box-shadow: 2px 2px 3px;
}

input::placeholder{
  text-align: center;
}

.ekle-btn {
  width: 8rem;
  height: 1.8rem;
  margin-left: 0.2rem;
  background-color: rgb(153, 226, 43);
  border-radius: 10px;
   border-color: rgb(60, 179, 13);
}

.temizle-btn {
  width: 8rem;
  height: 1.7rem;
  background-color: rgb(203, 10, 171);
  border-radius: 10px;
  border-color: aliceblue;
}

/* Alert.jsx component css*/
.ikaz {
  display: flex;
  justify-content: center;
 
}
.alert{
    padding: 0.5rem 0.8rem;
    border-radius: 1rem; 
}

.alet p {
  flex-basis: 50%;

  font-size: 1.4rem;
}
.alert-success {
  background-color: rgb(183, 74, 208);
}

.alert-danger {
  background-color: darkred;
}

/* List.jsx component css*/

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.1rem 0.9rem;
  padding: 0.25rem;
  border-radius: 5px;
  font-size: 1.4rem;
}

small{
 
  font-size: 2.0rem;
  margin-right: 0.01rem;
 
}
.btn {
  display: flex;
  justify-content: space-evenly;
}


.del-btn {
  background-color: crimson;
 border-color: transparent;
  cursor: pointer;
  margin: 0 0.15rem;
} 


.edit-btn {
  font-size: 1.2rem;
  background-color: rgb(228, 206, 8);
  border-color: transparent;
  cursor: pointer;
  margin: 0 0.15rem;
}
